[duo]
ikey = {{ IKEY }}
skey = {{ SKEY }}
host = {{ HOST }}
groups = {{ GROUPS }}
autopush = no
#In the event of errors with this configuration file or connection to the Duo service
#this mode will allow login without 2FA.
failmode = {{ FAILMODE }}
#prompts = 1